<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DBBuilder CRUD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div class="container d-flex justify-content-between align-items-center">
            <span id="header__logo">DBBuider CRUD</span>
            <div id="header__navigation" class="d-flex">
                <a href="{{ url_for('client')}}">Client</a>
                <a href="{{ url_for('products')}}">Products</a>
                <a href="{{ url_for('shops')}}">Shops</a>
                <a href="{{ url_for('dashboard')}}">Dashboards</a>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container d-flex flex-column" id="content__page">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
